
/* HTML selectors */
html {
  background-color: white;
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

ul {
  font-size: 18px;
  list-style: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

/* added hover selector for enhanced navigation, especially for footer links */
a:hover {
  background-color: #b22222;
}

/* classes */
/* top div */
.bd_top {
  background-image: url("../images/the-flatiron-building.png");
}

/* sets font size for process div */
.process p {
  font-size: 14;
}

.foot {
  background-color: dimgray;
  font-size: 11px;
  color: white;
  text-align: left;
}

/* sets background image and color for "Designed in NY" bar */
.design_bar {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}
